.header {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #00e8ff;
  color: #ffff;
  padding: 10px;
}

.footer,
.body {
  padding: 15px;
}

.round_circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.round_circle.green {
  background-color: green;
}

.round_circle.red {
  background-color: red;
}

.add {
  text-decoration: underline;
  color: #198754;
}

.hide{
  display: none;
}