.canva_open:hover,
.canva_open{
  border: 1px solid;
  margin: 30px;
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #00e8ff;
  color: #ffff;
  padding: 10px;
}

.body {
  padding: 15px;
}

.round_circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.round_circle.green {
  background-color: green;
}

.round_circle.red {
  background-color: red;
}

.add {
  text-decoration: underline;
  color: #198754;
}

.hide {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  background: #d9d3d3;
  padding: 15px;
  width: 100%;
}

.cancel {
  border: 1px solid #fff;
  color: red;
  background-color: #fff;
}